.nav {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    right: 10vh;
    top: 2vh;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    border : 2px solid var(--beige-orange);
    border-right : none;
    padding: 0.5em 1em;
    margin: 0;
    background-image: linear-gradient(var(--red), var(--red));
    background-repeat: no-repeat;
    background-size: 100% 0 ;
    background-position: top;
    transition: background-size 400ms ease-in-out;
}

.nav ul li:hover{

    background-size: 100% 100%;
    color: var(--white-platinium);
}

.nav ul li:last-child {
    border-right : 2px solid var(--beige-orange);

}
.link{
    font-family: var(--paragraph-font), sans-serif;
    color : var(--beige-orange);
    text-decoration: none;
    font-weight: bold;
}

.nav ul li:hover .link {
    color: var(--white-platinium);
}

.active {
    background-color: black;
    color: var(--white-platinium);
}