.container, .panelsWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-family: var(--title-font), sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12em;
    perspective: 1000px;
    z-index: 9999;
    background: linear-gradient(to right, var(--brown-red), var(--terracota));
    overflow: hidden;
}


.panelsWrapper {
    background: transparent;
}

.panel {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% / 12);
    background: linear-gradient(to right, var(--brown-red), var(--terracota));
    transform-origin: center bottom;
}


.panelInner {
    width: 100%;
    height: 100%;
    background: transparent;
}
