.header{
    background-color: var(--black-nuance );
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.header article:first-child{
    line-height: 7.5em;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top : 10vh
}

.header article:last-child{
    height: 2vh;
}

.h2 {
    font-family: var(--title-font2), sans-serif;
    font-size: 6em;
    font-weight: lighter;
    color : var(--cream );
    position: relative;

    left: 5vw;
    animation : neon 12s infinite;
}
.slogans {
    font-family: var(--title-font2), sans-serif;
    font-size: 6vw;
    color: white;
    text-align: center;
    width: 50vw;
}

.span {
    color : var(--beige-orange)
}

.h3 {
    font-family: var(--title-font2), sans-serif;
    font-size: 6vw;
    color: white;
    text-align: center;
    width: 40vw;
}

.subtitle {
    font-family: var(--title-font2), sans-serif;
    font-size: 6vw;
    color: var(--beige-orange);
    text-align: center;
}

.link {
    display: block;
    text-decoration: none;
    color : black;
    border : solid 1px var(--beige-orange);
    background-color: var(--beige-orange);
    font-size: 2em;
    text-align: center;
    padding: 0.5em 0;
    margin : 5vh 0;
    border-radius: 10px;
    font-family: var(--paragraph-font), sans-serif;
    width: 35vw;

    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 transparent;
    transform: scale(1);
}

.link:hover {
    background-color: transparent;
    color: var(--terracota);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.03);
}

.link:active {
    transform: scale(0.95);
}

.link:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255,255,255,0.3), transparent);
    transform: skewX(-20deg);
    animation: shine 0.8s ease forwards;
}

@keyframes neon {
    0%, 19%, 21%, 50%, 70%, 100% {
        text-shadow:
                0 0 2px var(--cream),
                0 0 4px var(--cream),
                0 0 6px #fff8e1,
                0 0 12px #ffd700;
    }
    20%, 51%, 71% {
        text-shadow:
                0 0 4px #fff8e1,
                0 0 8px #ffd700,
                0 0 12px #fff8e1,
                0 0 20px #ffd700;
    }
}


@keyframes shine {
    to {
        left: 200%;
    }
}
